<!DOCTYPE html>
<html>
    <head>
        <!-- METATAGS -->
        <!-- General Site metatags -->
        <meta charset="UTF-8">
        <meta name="description" content="You were a peasant. Become a Lord as you raise a sovereign state from the remnants of a fallen kingdom!">
        <meta name="author" content="Nathan Steward">
        <!-- Facebook metatags -->
        <meta property="og:title" content="Sovereign">
        <meta property="og:description" content="You were a peasant. Become a Lord as you raise a sovereign state from the remnants of a fallen kingdom!">
        <meta property="og:image" content="https://i.imgur.com/pmjDk5B.jpg">
        <meta property="og:image:alt" content="https://i.imgur.com/qne6U1O.jpg">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://sovereign-nathansteward.c9users.io/Client/View/index.html">
        <!-- Twitter metatags -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Sovereign">
        <meta name="twitter:description" content="You were a peasant. Become a Lord as you raise a sovereign state from the remnants of a fallen kingdom!">
        <meta name="twitter:image" content="https://i.imgur.com/pmjDk5B.jpg">
        <!-- End METATAGS -->
        
        <title>Sovereign</title>
        <link rel="icon" type="image/png" href="https://i.imgur.com/XV8DVF0.gif">
        <!-- Stylesheets -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/default.css">
        <!-- End Stylesheets -->
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fondamento|Just+Me+Again+Down+Here|La+Belle+Aurore|Rock+Salt|Ubuntu+Mono" rel="stylesheet">
        <!-- End Fonts -->
    </head>
    <body>
        <!-- WRAPPER -->
        <div class="container-fluid page-wrapper">
            <div class="row page-navbar-container">
                <div class="col-xs-12 page-navbar">
                    <button class="text-button" id="setGamePassword">Set game password</button><span class="unselectable text-button-spacing">|</span><!--
                 --><span id="serverButtonsContainer" style="display: none;"><!--
                     --><button class="text-button" id="resetGamePassword">Reset game password</button><span class="unselectable text-button-spacing">|</span><!--
                     --><button class="text-button" id="viewRoomOccupants">Who's in this room?</button><span class="unselectable text-button-spacing">|</span><!--
                 --></span>
                </div>
            </div>
            <div class="row game-area">
                <div class="col-sm-4 col-md-3 resources-display">
                    <div class="row resources-row">
                        <!-- Resources list goes here -->
                        <div class="col-sm-8 col-lg-9 remove-padding resource-name" id="resource-name"></div>
                        <div class="col-sm-4 col-lg-3 remove-padding resource-value" id="resource-value"></div>
                    </div>
                    <div class="row chatbox-row">
                        <div class="col-sm-12 chatbox-area" id="chatboxArea">
                            <div class="chatbox-text-display" id="chatboxTextDisplay">
                                <!-- Chatbox text to other players goes here -->
                            </div>
                            <div class="row chatbox-text-area" id="chatboxTextArea">
                                <input type="text" class="col-sm-9 chatbox-text-field" id="chatboxTextField" placeholder="Type your message..." />
                                <button class="col-sm-3 submit-chat-text" id="submitChatText">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-7 remove-padding">
                    <div class="game-navbar">
                        <!-- Tabs that manipulate the Main Display go here -->
                        <button class="btn btn-sm selected" id="resourceGenerationNavButton">The Wilds</button><!--
                     --><button class="btn btn-sm" id="manageTownNavButton">Settlement</button><!--
                     --><button class="btn btn-sm" id="manageJobsNavButton">Jobs</button>
                    </div>
                    <div class="col-sm-12 main-display">
                        <!-- Main Display views go here -->
                        <div class="view resource-generation-view" id="resourceGenerationView">
                            <button class="btn btn-sm" id="genericResourceButton">Generate Resource</button>
                        </div>
                        <div class="view manage-town-view" id="manageTownView" style="display: none;">
                            <div class="building-container" id="buildingSmallHouse">
                                <div class="building-display-box"></div>
                                <div class="building-description-box">
                                    "A sturdy shack. Uncomfortable, but it gets the job done."<br /> +2 Max Townspeople<br /><br />
                                    <span id="numOwnedSmallHouses"></span> currently in your dominion.
                                </div>
                                <div class="buy-building" id="buildingSmallHouseBuyButton">Buy</div>
                            </div>
                        </div>
                        <div class="view manage-jobs-view" id="manageJobsView" style="display: none;">
                            <div class="job-container" id="workerStatsDisplay">
                                Maximum townspeople: <span id="maxNumTownspeople"></span>
                                <br />
                                <span id="workerStatsDisplayTotalWorkers">
                                    Townspeople available: <span id="numWorkers"></span>
                                </span>
                            </div>
                            <div class="job-container" id="jobResourceCollector">
                                <div class="job-display-box"></div>
                                <div class="job-description-box">
                                    "A simple farmer."<br /> +0.5 resource/sec.<br /><br /><br />
                                    <span id="numWorkersResourceCollector"></span> working for you right now.
                                </div>
                                <div class="add-worker">+</div>
                                <div class="remove-worker">-</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 flavor-text-area" id="flavorTextArea">
                    <!-- Output flavor text to player goes here -->
                </div>
                <div class="row col-sm-12 overlay-container" id="overlayContainer">
                    <div class="col-sm-12 enter-username selected" id="enterUsername">
                        What name will you make for yourself? <br />
                        <input type="text" class="enter-username-field" id="enterUsernameField" />
                        <select name="usernameTitles" class="username-titles" id="usernameTitles"></select>
                        <br /><br />
                        <button class="enter-username-submit" id="enterUsernameSubmit">
                            This is my fate
                        </button>
                    </div>
                    <div class="col-sm-12 set-game-password-container" id="setGamePasswordContainer">
                        Set your game password
                        <input type="text" class="set-game-password-field" id="setGamePasswordField" />
                        <button class="set-game-password-submit" id="setGamePasswordSubmit">Ok</button>
                        <button class="set-game-password-cancel" id="setGamePasswordCancel">Cancel</button>
                        <p class="set-game-password-explanation">
                            Set your game password if you want to play with friends. If you set your game password, 
                            and somebody else sets their password to match it, you can both play together!
                            The session used will be whoever connects to the password first.
                        </p>
                    </div>
                    <div class="col-sm-12 view-room-occupants-container" id="viewRoomOccupantsContainer">
                        <div class="view-room-occupants">
                            <div class="view-room-occupants-room-name" id="viewRoomOccupantsRoomName"></div>
                            <div class="view-room-occupants-occupants" id="viewRoomOccupantsOccupants"></div>
                        </div>
                        <button class="view-room-occupants-close" id="viewRoomOccupantsClose">Close</button>
                    </div>
                </div>
                <div class="row col-sm-12 cookieLawContainer" id="cookieLawWarning">
                    <div class="col-sm-8 col-md-9 cookieMessage">
                        This site uses cookies to store data on your browser. <a href="https://cookiesandyou.com/" target="_blank">Learn more.</a>
                    </div>
                    <div class="offset-sm-1 cookieDismiss">
                        <div class="cookieDismissButton" id="cookieDismiss">Got it!</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WRAPPER -->
        <!-- Scripts -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="/Controllers/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script src="/Controllers/StringFormatController.js"></script>
        <script src="/Controllers/GameController.js"></script>
        <!-- End Scripts -->
    </body>
</html>