/* Available Google Fonts:
font-family: 'Coming Soon', cursive;                - Neat writing
font-family: 'Just Me Again Down Here', cursive;    - Decent handwriting, an alternative to 'Coming Soon'
font-family: 'Rock Salt', cursive;                  - Big handwriting with all caps
font-family: 'La Belle Aurore', cursive;            - Very neat cursive writing; fancy
font-family: 'Fondamento', cursive;                 - Great classical text; good default for non-speech fancy text
font-family: 'Josefin Sans', cursive;               - Plain text
*/

body, html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.page-wrapper {
    height: 100%;
}

/* General Styling Classes */
.remove-padding {
    padding: 0px;   
}

/* Main Navbar and inner stylings */
.page-navbar-container {
    height: 30px;
}

.page-navbar {
    height: 100%;
    background-color: #353550;
}

/***** All Main Game Custom Stylings *****/
.game-area {
    height: calc(100% - 30px);
}

/* Game Navbar and inner stylings */
.game-navbar {
    height: 60px;
    background-color: #505050;
    padding: 9px;
}

.game-navbar > .btn {
    margin-right: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: #505050;
    font-size: 20px;
    font-family: 'Fondamento', cursive;
    color: white;
}

.game-navbar > .btn.selected {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* Flavor Text and inner stylings */
.flavor-text-area {
    height: 100%;
    background-color: #906868;
}

/* Main Display and inner stylings */
.main-display {
    padding: 10px;
    height: calc(100% - 60px);
    background-color: #FAFAFF;
}

.main-display > * > .btn {
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Resources Display and inner stylings */
.resources-display {
    height: 100%;
    background-image: url('../../Assets/resources_background.png');
    font-size: 20px;
    color: white;
}

.resource-name {
    text-align: left;
    font-size: inherit;
    padding-left: 10px;
}

.resource-value {
    text-align: right;
    font-size: inherit;
    padding-right: 10px;
}

/***** End All Main Game Custom Stylings *****/

/* BootStrap Class Modifications */
.btn {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.main-navbar > .btn {
    height: 25px;
    padding: 2.5px;
    border-radius: 1px;
    border-color: #AAA;
    background-color: #393950;
    color: #AAA;
}
/* End BootStrap Class Modifications */