/* Available Google Fonts:
font-family: 'Coming Soon', cursive;                - Neat writing
font-family: 'Just Me Again Down Here', cursive;    - Decent handwriting, an alternative to 'Coming Soon'
font-family: 'Rock Salt', cursive;                  - Big handwriting with all caps
font-family: 'La Belle Aurore', cursive;            - Very neat cursive writing; fancy
font-family: 'Fondamento', cursive;                 - Great classical text; good default for non-speech fancy text
font-family: 'Ubuntu Mono', monospace;               - Plain text
*/

body, html {
    height: 100%;
    font-family: 'Ubuntu Mono', monospace;
}

.page-wrapper {
    height: 100%;
}

/* General Styling Classes */
.remove-padding {
    padding: 0px;   
}

/* Main Navbar and inner stylings */
.page-navbar-container {
    height: 30px;
}

.page-navbar {
    height: 100%;
    background-color: #353550;
}

/***** All Main Game Custom Stylings *****/
.game-area {
    height: calc(100% - 30px);
}

/* Game Navbar and inner stylings */
.game-navbar {
    height: 60px;
    background-color: #505050;
    padding: 9px;
    overflow-y: auto;
}

.game-navbar > .btn {
    margin-right: 5px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background-color: #505050;
    font-size: 20px;
    font-family: 'Fondamento', cursive;
    color: white;
}

.game-navbar > .btn:hover {
    border-top: 2px solid #888;
    border-bottom: 2px solid #888;
}

.game-navbar > .btn.selected {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/* Flavor Text and inner stylings */
.flavor-text-area {
    height: 100%;
    background-color: #906868;
    padding: 10px;
    border: 3px solid #503838;
    overflow-y: auto;
}

.flavor-text-area-message {
    display: none;
    color: white;
}

.flavor-text-area-message-border-bottom {
    width: 55%;
    border-bottom: 1.5px solid #705858;
    margin: auto;
}

/* Main Display and inner stylings */
.main-display {
    height: calc(100% - 60px);
    padding: 10px;
    background-color: #FAFAFF;
}

.main-display > * > .btn {
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.btn#genericResourceButton {
    box-shadow: 0 6px #999;
    transform: translateY(0px);
    transition: box-shadow 300ms, transform 300ms;
}

.btn#genericResourceButton:hover {
    background-color: #DDDDDD;
}

.btn#genericResourceButton:active {
    box-shadow: 0 1px #666;
    transform: translateY(5px);
    transition: box-shadow 300ms, transform 300ms;
}

.job-container, .building-container {
    float: left;
    display: inline-block;
    height: 327px;
    width: calc(24% - 2.5px);
    margin: .5%;
    border: 1px solid #444;
    font-size: 0;
    text-align: center;
}

.job-container#workerStatsDisplay {
    padding: 5px;
    text-align: left;
    font-size: 16px;
    min-width: 250px;
}

.job-display-box, .building-display-box {
    height: 150px;
    width: 100%;
    background-color: #bbb;
}

.job-description-box, .building-description-box {
    height: 125px;
    font-size: 16px;
}

.add-worker, .remove-worker,
.buy-building, .sell-building {
    height: 50px;
    width: 50%;
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.add-worker, .buy-building {
    background-color: #7d7;
}

.add-worker:hover, .buy-building:hover {
    background-color: #5b5;
}

.buy-building {
    width: 100%;
}

.remove-worker, .sell-building {
    background-color: #d77;
}

.remove-worker:hover, .sell-building:hover {
    background-color: #b55;
}

.job-display-box, .building-display-box {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#jobResourceCollector > .job-display-box {
    background-image: url('../Assets/jobs-images/peasant.jpg');
}

#buildingSmallHouse > .building-display-box {
    background-image: url('../Assets/buildings-images/smallhouse.jpg');
}

/* Resources Display and inner stylings */
.resources-display {
    height: 100%;
    background-image: url('../Assets/resources_background.png');
    font-size: 18px;
    color: white;
}
@media (max-width: 1680px) {
    .resources-display {
        font-size: 16px;
    }
}
@media (max-width: 1200px) {
    .resources-display {
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .resources-display {
        font-size: 10px;
    }
}

.resource-name {
    text-align: left;
    padding-left: 10px;
}

.resource-value {
    text-align: right;
    padding-right: 10px;
}

.resource-name, .resource-value {
    font-size: inherit;
    cursor: default;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Cookie Law Banner Stylings */
.cookieLawContainer {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#333377, #444499);
    font-size: 24px;
    color: white;
    margin: 0;
}

.cookieMessage > a {
    color: white;
    text-decoration: underline;
}

.cookieMessage > a:hover,
.cookieDismissButton:hover {
    color: #CCCCCC;
}

.cookieDismiss {
    text-align: right;
}

.cookieDismissButton {
    font-size: 24px;
    padding: 0px 2px;
    text-decoration: underline;
    cursor: pointer;
}

/***** End All Main Game Custom Stylings *****/

/* BootStrap Class Modifications */
.btn {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.main-navbar > .btn {
    height: 25px;
    padding: 2.5px;
    border-radius: 1px;
    border-color: #AAA;
    background-color: #393950;
    color: #AAA;
}
/* End BootStrap Class Modifications */